/*Contador*/
@font-face {
        font-family: 'BebasNeueRegular';
        src: url('../fonts/BebasNeue-webfont.ttf') format('truetype');
}
        
.contenedor
{
    margin: 0 auto;
    width: 350px;
    height: 220px;
    position:relative;
}

.contador
{
    margin: 0 auto;
    position:relative;
    margin-bottom:30px;
    width: 652px;
    height: 178px;
}

.contador .dias
{
    position:absolute;
    width: 20px;
    height: 20px;
    top:95px;
    left:28px;
    font-family: 'BebasNeueRegular';
    font-size:50pt;
    color: #C35627;
    letter-spacing: 65px;
}
        
.contador .horas
{
    position:absolute;
    width: 20px;
    height: 20px;
    top:95px;
    left:310px;
    font-family: 'BebasNeueRegular';
    font-size:50pt;
    color: #C35627;
    letter-spacing: 65px;
}
        
.contador .minutos
{
    position:absolute;
    width: 20px;
    height: 20px;
    top:95px;
    left:500px;
    font-family: 'BebasNeueRegular';
    font-size:50pt;
    color: #C35627;
    letter-spacing: 65px;
}

.contenedor_stands
{
    width: 850px;
    height: 600px;
}

.contenedor_stands img
{
    float:left;
      opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}

.contenedor_stands img
{
    float:left;
      opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}

.contenedor_stands img:hover
{
      filter: alpha(opacity=30);
  moz-opacity: .30;
  opacity: .30;
}

.contenedor_stands img:hover
{
 -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;

 -webkit-transform: rotate(-17deg);
-moz-transform: rotate(-17deg);
-ms-transform: rotate(-17deg);
transform: rotate(-17deg);

border-width:4px;
border-color:White;

  filter: alpha(opacity=50);
  moz-opacity: .50;
  opacity: .50;
}

.contenedor_stands img:active
{
    opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}


.contenedor_stands a
{
    position: relative;
 
}


.contenedor_stands a span
{
    position:absolute;
    color:#000;
    font-weight:bold;
    font-size:11pt;
}
