/*Contador*/
@font-face {
        font-family: 'BebasNeueRegular';
        src: url('../fonts/BebasNeue-webfont.ttf') format('truetype');
}
        
.contenedor
{
    margin: 0 auto;
    width: 350px;
    height: 220px;
    position:relative;
}

.contador
{
    margin: 0 auto;
    position:relative;
    margin-bottom:30px;
    width: 652px;
    height: 178px;
}

.contador .dias
{
    position:absolute;
    width: 20px;
    height: 20px;
    top:95px;
    left:28px;
    font-family: 'BebasNeueRegular';
    font-size:50pt;
    color: #C35627;
    letter-spacing: 65px;
}
        
.contador .horas
{
    position:absolute;
    width: 20px;
    height: 20px;
    top:95px;
    left:310px;
    font-family: 'BebasNeueRegular';
    font-size:50pt;
    color: #C35627;
    letter-spacing: 65px;
}
        
.contador .minutos
{
    position:absolute;
    width: 20px;
    height: 20px;
    top:95px;
    left:500px;
    font-family: 'BebasNeueRegular';
    font-size:50pt;
    color: #C35627;
    letter-spacing: 65px;
}

.contenedor_stands
{
    width: 850px;
    height: 600px;
}

.contenedor_stands img
{
    float:left;
}

.contenedor_stands a
{
    position: relative;
}

.contenedor_stands a span
{
    position:absolute;
    color:#000;
    font-weight:bold;
    font-size:11pt;
}